# =========================
# Environnement virtuel
# =========================
venv/
.envrc/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Fichiers système
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Secrets / variables
# =========================
.env
*.env

# =========================
# FAISS / modèles / données lourdes
# =========================
data/index/
*.faiss
models/
checkpoints/

# =========================
# Fichiers temporaires
# =========================
temp/
tmp/